<%- include('../partials/header') %> 

<div class="ui text container main-content" id="content">
  <h1 class="ui blue center aligned dividing header ">Edit Post</h1>
  
  <form action="/blogs/<%= blog._id %>?_method=PUT " method="POST" class="ui large form">
    <div class="ui raised segment">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Title:
          </div>
          <input type="text"  name="blog[title]" value="<%= blog.title %> ">
        </div>
        
      </div>
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Author:
          </div>
          <input type="text"  name="blog[user]" value="<%= blog.user %> ">
        </div>
        
      </div>
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Image:
          </div>
          <input type="text"  name="blog[image]" value="<%= blog.image %> ">
        </div>
        
      </div>
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Body:
          </div>
          <textarea name="blog[body]" id="body" rows="10"><%= blog.body %></textarea>
        </div>
        
      </div>

      <button class="ui blue button" type="submit">Submit</button>

    </div>
  </form>

</div>


<%- include('../partials/footer') %> 

